.LoginPage {
	width: 100%;
	height: 100%;

	background-color: palevioletred;
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;

	.LoginPage-Panel {
		overflow: auto;
		padding: 48px 0 82px 0;

		.LoginPage-Panel-Banner {
			display: flex;
			flex-direction: column;
			align-items: center;
		
			font-family: Noto Sans TC;
			font-weight: 500;
			font-size: 14px;
			line-height: 20px;
			letter-spacing: 1px;
		
			color: #ffffff;
			margin-bottom: 56px;
		
			.LoginPage-Panel-Banner-Logo {
				width: 160px;
				margin-bottom: 8px;
			}
		}

		.LoginPage-Panel-Container {
			display: flex;
			align-items: center;
			justify-content: center;

			.login-user-info {
				display: flex;
				flex-direction: column;
				width: 400px;
				height: 440px;
				margin-right: 40px;
			
				background: #ffffff;
				box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.08), 0px 4px 8px rgba(78, 93, 122, 0.2);
				border-radius: 16px;

				.login-user-content {
					height: 100%;
					padding: 48px 32px 40px 32px;
					margin: 0px;
				
					.login-user-form {
						width: 100%;
						height: fit-content;
				
						.login-user-status {
							display: flex;
							align-items: center;
							justify-content: space-between;
							margin-bottom: 16px;
				
							.login-user-title {
								color: #29354c;
				
								font-family: Noto Sans TC;
								font-weight: 500;
								font-size: 24px;
								line-height: 35px;
				
								height: fit-content;
							}
						}
					}
				
					.login-user-account {
						margin-bottom: 26px;
				
						.login-user-account-title {
							font-family: Noto Sans TC;
							font-style: normal;
							font-weight: 500;
							font-size: 14px;
							line-height: 20px;
							color: #29354c;
				
							margin-bottom: 7px;
						}
				
						.login-user-account-input {
							width: 100%;
							height: 40px;
							
							padding: 0px 10px;
							border-radius: 8px;
							border: 1px solid;
						}
					}
				
					.login-user-password {
						position: relative;
				
						.login-user-password-title {
							font-family: Noto Sans TC;
							font-style: normal;
							font-weight: 500;
							font-size: 14px;
							line-height: 20px;
							color: #29354c;
				
							margin-bottom: 7px;
						}
				
						.login-user-password-input {
							width: 100%;
							height: 40px;

							padding: 0px 10px;
							border-radius: 8px;
							border: 1px solid;
						}

						.login-user-input-icon {
							position: absolute;
							right: 15px;
							top: 35px;
						}
					}

					.login-user-errorSpace {
						display: block;
						margin: 5px 0px 10px 0px;
						height: 18px;
					}
				
					.login-user-errorMsg {
						position: relative;
						height: 18px;
						
						font-size: 14px;
						font-family: Noto Sans TC;
						font-weight: 500;
				
						margin: 5px 0px 10px 0px;
						float: right;

						color: red;
					}
					
					.login-user-btn-frame {
						.login-user-btn-login {
							border-radius: 8px;
							width: 100%;
							height: 40px;
						}

						.login-user-btn-bottom {
							display: flex;
							margin-top: 16px;

							.login-user-btn-forget,
							.login-user-btn-register {
								height: 40px;
								padding: 8px 0;
								border-radius: 8px;
						
								font-family: Noto Sans TC;
								font-weight: 500;
								font-size: 16px;
								line-height: 23px;
						
								border: 1px dashed gray;
						
								cursor: pointer;
								color: #6f8190;
								text-align: center;
								flex: 1;
							}

							.login-user-btn-register {
								margin-left: 10px;
							}
						}
					}
				}
			}

			.login-carousel {
				.slick-list {
					width: 300px;
				}

				.login-carousel-inner {
					text-align: center;
					display: flex !important;
					flex-direction: column;
					align-items: center;
					outline: none;

					.login-carousel-photo {
						margin-bottom: 40px;
					}

					.login-carousel-text {
						margin-bottom: 24px;

						font-family: Noto Sans TC;
						font-weight: 500;
						font-size: 16px;
						line-height: 23px;

						color: white;
					}
				}

				.slick-dots li {
					width: 16px;
					height: 16px;
				}

				.slick-dots li button {
					width: 16px;
					height: 16px;
					border: 1px #b8c3d9 solid;
					border-radius: 50px;
				}

				.slick-dots li button::before {
					width: 16px;
					height: 16px;
					font-size: 0px;
				}

				.slick-dots .slick-active {
					width: 16px;
					height: 16px;
					background: white;
					border-radius: 50px;
				}
			}
		}
	}
}

/* RWD fine tuning */

@media (max-width: 1023px) {
	.LoginPage {
		height: fit-content;
		align-items: initial;
		padding: 60px 0 82px 0;

		.LoginPage-Panel {
			.LoginPage-Panel-Banner {
				margin-bottom: 32px;
				
			}

			.LoginPage-Panel-Container {
				flex-direction: column-reverse;

				.login-user-info {
					margin: 64px 0 0 0;
				}

				.login-carousel {
					height: 337px;

					.login-carousel-inner {
						.login-carousel-photo {
							height: 100%;
							margin-bottom: 0px
						}
					}
					
				}
			}
		}
	}
}

@media (max-width: 767px) {
	.LoginPage {
		height: 100%;
		padding: 108px 0 0 0;

		.LoginPage-Panel {
			width: 100%;
			padding: 0px 20px 0px 20px;

			.LoginPage-Panel-Banner {
				margin-bottom: 12px;

				.LoginPage-Panel-Banner-Text {
					display: none;
				}
			}

			.LoginPage-Panel-Container {
				.login-user-info {
					width: 100%;
					margin: initial;
					z-index: 1;
				}

				.login-carousel {
					height: 193px;

					.login-carousel-inner {
						.login-carousel-photo {
							height: 168px;
						}
					}
				}
			}
		}
	}
}

@media (max-width: 420px) {
	.LoginPage {
		height: 100%;
		padding: 70px 0 0 0;

		.LoginPage-Panel {
			width: 100%;
			padding: 0px 20px 24px 20px;

			.LoginPage-Panel-Banner {
				margin-bottom: 12px;
			}

			.LoginPage-Panel-Container {
				.login-user-info {
					width: 100%;
					margin: initial;
					z-index: 1;

					.login-user-content {
						.login-user-btn-frame {
							.login-user-btn-bottom {
								.login-user-btn-forget {
									font-size: 12px;
								}
							}
						}
					}
				}

				.login-carousel {
					height: 193px;

					.login-carousel-inner {
						.login-carousel-photo {
							height: 168px;
						}
					}
				}
			}
		}
	}

	.resetPassword-view-modal,
	.registerUser-view-modal {
		width: 90%;
	}
}