.Good-Manage-Modal {
	width: 800px;
	height: 400px;

	.modal-body-cont {
		.edit-input-block {
			display: inline-block;
			margin: 0px 16px 16px 0px;
			vertical-align: middle;

			.edit-input-title {
				margin: 8px 0px;
			}

			&.location {
				width: 100%;

				.edit-input-value {
					width: 100%;
				}
			}
		}
	}

	.modal-footer-cont {
		.custom-button {
			margin-left: 16px;
		}
	}
}

@media (max-width: 786px) {
	.Good-Manage-Modal {
		width: 600px;

		.modal-body-cont {
			div {
				justify-content: initial !important;
			}
		}
	}
}