.Good-Manage-Rectangle{
	display: flex;
	position: relative;

	.Good-Manage-Rectangle-Container {
		display: flex;
		width: 100%;
		height: 60px;
		align-items: center;

		.Good-Manage-Rectangle-Index {
			width: 50px;
			font-family: Roboto;
			font-weight: bold;
			font-size: 20px;
			line-height: 19px;
			color: #29354C;
			text-align: center;
		}

		.Good-Manage-Rectangle-Info {
			display: flex;

			font-family: Noto Sans TC;
			font-size: 14px;
	
			width: 100%;
			align-items: center;

			.Good-Manage-Rectangle-Info-displayName {
				color: #29354C;
		
				font-family: Noto Sans TC;
				font-size: 16px;
				width: var(--displayNameW);
				margin-right: 20px;

				/* Required for text-overflow to do anything */
				text-overflow: ellipsis;
				white-space: nowrap;
				overflow: hidden;
			}

			.Good-Manage-Rectangle-Info-price {
				width: var(--priceW);
				margin-right: 20px;

				/* Required for text-overflow to do anything */
				text-overflow: ellipsis;
				white-space: nowrap;
				overflow: hidden;
			}
			
			.Good-Manage-Rectangle-Info-amount {
				width: var(--amountW);
				margin-right: 20px;

				/* Required for text-overflow to do anything */
				text-overflow: ellipsis;
				white-space: nowrap;
				overflow: hidden;
			}
			
			.Good-Manage-Rectangle-Info-location {
				flex-grow: 0.8;

				/* Required for text-overflow to do anything */
				text-overflow: ellipsis;
				white-space: nowrap;
				overflow: hidden;
			}
		}
	}

	.Good-Manage-Rectangle-IconMenu {
		position: relative;
		right: 16px;
		top: 16px;
	}

	.Good-Manage-Rectangle-Divider {
		position: absolute;
		bottom: -1px;
		left: 48px;
		border-bottom: 1px solid #D4E1EE;
		width: calc(100% - 64px);
	}
}

@media (max-width: 650px) {

	.Good-Manage-Rectangle {
		.Good-Manage-Rectangle-Container {
			.Good-Manage-Rectangle-Index {
				display: none;
			}

			.Good-Manage-Rectangle-Info {
				margin-left: 12px;

				.Good-Manage-Rectangle-Info-displayName {
					margin-right: 0px;
				}

				.Good-Manage-Rectangle-Info-price {
					margin-right: 0px;
				}

				.Good-Manage-Rectangle-Info-amount {
					margin-right: 0px;
				}

				.Good-Manage-Rectangle-Info-location {
					width: var(--locationW);
				}
			}
		}

		.Good-Manage-Rectangle-IconMenu {
			right: 35px;
		}
	}
}