.SideProjectSection {
	display: flex;
	padding: 160px 200px 50px 200px;
	height: fit-content;
	background: var(--clr);

	.SideProject-Container {
		display: flex;
		flex-direction: column;

		width: 100%;

		.SideProject-Title {
			color: blue;
			font-size: 36px;
		}

		.SideProject-Intro {
			.SideProject-Intro-Title {
				color: gold;
				font-size: 36px;
				text-align: center;
			}

			.SideProject-Intro-Description {
				margin-top: 16px;
				white-space: pre-wrap;
				padding-left: 100px;
				font-size: 20px;
			}
		}
	}

}

@media (max-width: 1280px) {
	.SideProjectSection {
		padding: 160px 150px 50px 150px;
	}
}

@media (max-width: 1200px) {
	.SideProjectSection {
		padding: 160px 100px 50px 100px;
	}
}

@media (max-width: 950px) {
	.SideProjectSection {
		padding: 160px 40px 50px 40px;

		.SideProject-Container {
			.DemoBlock {
				flex-direction: column;
				align-items: center;

				.DemoBlock-Img {
					width: 100%;
				}

				.DemoBlock-Content {
					max-width: 70vw;
					margin-top: 16px;

					.DemoBlock-Content-description {
						margin: 16px 0px 0px 0px
					}
				}
			}
		}
	}
}

@media (max-width: 700px) {
	.SideProjectSection {
		.SideProject-Container {
			.SideProject-Intro {
				.SideProject-Intro-Description {
					padding-left: 0;
				}
			}
		}

	}
}

@media (max-width: 640px) {
	.SideProjectSection {
		.SideProject-Container {
			.SideProject-Intro {
				.SideProject-Intro-Title {
					margin-top: 16px;
					font-size: 26px;
				}

				.SideProject-Intro-Description {
					font-size: 16px;
				}
			}
		}

	}
}