.OtherPage {
	padding: 24px 100px 40px 100px;
	min-height: 100%;
	background-color: #f4f7f9;

	.WorkSpace-Title {
		text-align: center;
		background-color: aqua;
		padding: 16px;
	}

	.WorkSpace {
		margin-top: 16px;
	}
}