.registerUser-view-modal {
	width: 400px;
	height: 315px;
	background-color: white;
	display: flex;
	flex-direction: column;
	margin: 50vh auto 0;
	transform: translateY(-50%);
	position: unset;

	box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.08), 0px 4px 8px rgba(78, 93, 122, 0.2);
	border-radius: 16px;

	.registerUser-view-modal-body {
		padding: 32px 48px;
		color: #29354C;
		display: flex;
		flex-direction: column;
		flex: 1;

		.registerUser-view-modal-title {
			font-family: 'Noto Sans TC';
			font-weight: 500;
			font-size: 24px;
			line-height: 35px;
			color: #2E3B63;
		}

		.registerUser-view-modal-content {
			margin-top: 16px;

			font-family: 'Noto Sans TC';
			font-weight: 400;
			font-size: 14px;
			line-height: 20px;
			color: #7A869A;

			white-space: pre-wrap;
		}

		.registerUser-view-modal-email-input,
		.registerUser-view-modal-password-input {
			margin-top: 24px;
			height: 40px;
			padding: 0px 10px;
			border-radius: 8px;
			border: 1px solid;
		}

		.registerUser-view-modal-password-input {
			margin-top: 12px;
		}

		.input-errorInfo{
			min-height: 17px;
			color: #FC4F52;
			font-family: 'Noto Sans TC';
			font-weight: 400;
			font-size: 12px;
			line-height: 17px;
			text-align: right;
		}

		.registerUser-view-modal-done {
			min-height: 153px;
		}

		.registerUser-view-modal-btn {
			margin-top: 12px;
		}
	}
}

