.performanceEvaluation {
	display: flex;
	align-items: center;
	padding: 0 16px;
	flex-direction: column;
	margin-top: 8px;

	.performanceEvaluation-section {
		display: flex;
		flex-direction: row;
		align-items: flex-start;
		justify-content: space-between;
		width: 100%;

		.performanceEvaluation-section-title {
			margin: 0;
			font-size: 16px;
			line-height: 23px;
			flex-basis: 98px;
			text-align: center;
			padding: 44px 16px;
		}

		.performanceEvaluation-section-content {
			display: flex;
			flex-direction: column;
			flex: 1;
			margin-left: 16px;

			.performanceEvaluation-content-eachRow {
				display: flex;
				flex-wrap: wrap;
				padding: 16px 0;
				.performanceEvaluation-eachRow-title {
					margin-bottom: 8px;
					width: 100%;
					color: #6f8190;
				}
				.performanceEvaluation-eachRow-progressBar {
					height: 22px;

					.attendanceRate,
					.homeworkCompletionRate,
					.participation {
						background-color: #fcb243;
					}
					.syntaxFamiliarity,
					.logicUnderstanding {
						background-color: #a1c2fc;
					}
					.problemSolvingSkills,
					.organizationalSkills {
						background-color: #2f80ed;
					}
					.creativity {
						background-color: #2db35c;
					}
					.attendanceRate.no-value,
					.homeworkCompletionRate.no-value,
					.participation.no-value,
					.syntaxFamiliarity.no-value,
					.logicUnderstanding.no-value,
					.problemSolvingSkills.no-value,
					.organizationalSkills.no-value,
					.creativity.no-value {
						background-color: transparent;
					}
				}
				.performanceEvaluation-eachRow-evaluation {
					font-weight: 500;
					flex-basis: 48px;
					text-align: right;
					margin: 0 0 0 8px;
				}
			}
		}
	}
	.performanceEvaluation-section:last-child {
		.performanceEvaluation-section-content {
			padding-bottom: 8px;
			border-bottom: 1px solid #d4e1ee;
		}
	}
}

@media (max-width: 768px) {
	.performanceEvaluation {
		.performanceEvaluation-section {
			flex-direction: column;
			margin-bottom: 28px;
			.performanceEvaluation-section-title {
				font-size: 16px;
				line-height: 23px;
				flex-basis: 40px;
				text-align: center;
				padding: 8px 0;
				width: 100%;
			}
			.performanceEvaluation-section-content {
				width: 100%;
				margin: 0;
				.performanceEvaluation-content-eachRow {
					padding: 8px 0;
				}
			}
		}
	}
}
