.homePageFrame {
	display: flex;
	width: 796px;
	height: 483px;

	border-radius: 30px;
	background-image: url('../../backgroundImg.svg');
	
	.homePageFrame-Content {
		width: 100%;
		padding: 50px;
	}
}