.ListPage {
	background-color: #f4f7f9;
	min-height: 100%;
	padding: 40px 100px;

	--displayNameW: 340px;
	--priceW: 200px;
	--amountW: 200px;
	--locationW: 250px;

	.ListPage-Header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		
		.ListPage-Header-Title {
			font-weight: 500;
			font-size: 24px;
			line-height: 35px;
			color: #29354c;
			padding: 0px 16px;
		}

		.ListPage-SearchBox {
			width: 400px;
		}
	}

	.ListPage-ListContent {
		margin-top: 16px;

		display: flex;
		flex-direction: column;
		background-color: #fff;
		border: 1px solid rgba(162,178,210,.5);
		border-radius: 12px;

		width: 100%;

		.sort-header {
			height: 60px;
			display: flex;
			position: relative;
			align-items: center;
			padding-left: 48px;
		
			.sort-option-cont {
				display: flex;
				align-items: center;
				cursor: pointer;
		
				.sort-text {
					font-size: 14px;
					line-height: 20px;
					color: #6f8190;
				}

				.sort-icon {
					width: 32px;

					path {
						fill: #6f8190;
					}
				}
			}

			.sort-by-displayName {
				width: var(--displayNameW);
				margin-right: 20px;
			}

			.sort-by-price {
				width: var(--priceW);
				margin-right: 20px;
			}
		
			.sort-by-amount {
				width: var(--amountW);
				margin-right: 20px;
			}
		
			.sort-by-location {
				width: var(--locationW);
			}
		}
	}
}


@media (max-width: 1330px) {
	.ListPage {
		--displayNameW: 280px;
		--priceW: 170px;
		--amountW: 170px;
		--locationW: 220px;
	}
}

@media (max-width: 1200px) {
	.ListPage {
		--displayNameW: 220px;
		--priceW: 140px;
		--amountW: 140px;
		--locationW: 200px;
	}
}

@media (max-width: 1024px) {
	.ListPage {
		--displayNameW: 180px;
		--priceW: 100px;
		--amountW: 100px;
		--locationW: 150px;
	}
}

@media (max-width: 900px) {
	.ListPage {
		--displayNameW: 150px;
		--priceW: 80px;
		--amountW: 80px;
		--locationW: 100px;
	}
}

@media (max-width: 786px) {
	.ListPage {
		padding: 40px 40px;

		--displayNameW: 130px;
		--priceW: 60px;
		--amountW: 60px;
		--locationW: 90px;

		.ListPage-Header {
			flex-direction: column;

			.ListPage-SearchBox {
				margin-top: 16px;
				width: 100%;
			}
		}
	}
}

@media (max-width: 650px) {
	.ListPage {
		--displayNameW: 80px;
		--priceW: 60px;
		--amountW: 60px;
		--locationW: 90px;

		.ListPage-Header {
			.ListPage-SearchBox {
				width: 100%;
			}
		}

		.ListPage-ListContent {
			.sort-header {
				padding-left: 12px;

				.sort-by-displayName {
					margin-right: 0px;
				}
	
				.sort-by-price {
					margin-right: 0px;
				}
			
				.sort-by-amount {
					margin-right: 0px;
				}
			}
		}
	}

}