* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
	scroll-behavior: smooth;
}

.Header {
	position: fixed;
	top: 0;
	width: 100%;
	height: 60px;
	background: #000;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 50px;

	z-index: 999;

	.Header-Logo {
		height: 30px;
	}

	.Header-Items {
		display: flex;

		a {
			position: relative;
			width: 100px;
			display: flex;
			align-items: center;
			justify-content: center;
			border: 1px solid white;
			border-radius:10px;
			height: 36px;

			text-decoration: none;
			margin-right: 16px;
			padding: 10px 16px;
			font-weight: 800;

			--x: 45deg;

			i {
				position: absolute;
				inset: -2px;
				display: block;
				border-radius: 5px;
			}

			&:nth-child(even) > i, &:nth-child(even) > i:nth-child(2) {
				background: linear-gradient(var(--x), #00ccff, #0e1538, #0e1538, #d400d4)
			}

			&:nth-child(odd) > i, &:nth-child(odd) > i:nth-child(2) {
				background: linear-gradient(var(--x), #E00659, #0e1538, #0e1538, #1cd129)
			}

			i:nth-child(2) {
				filter: blur(10px);
			}

			span {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				display: flex;
				justify-content: center;
				align-items: center;
				color: #fff;
				border: 1px solid #040a29;
				border-radius: 3px;
				background: rgba(14, 21, 56, 0.65)
			}
		}

		.Header-Items-Resume {
			background-color: #000;
			color: #fff;
			border: 2px solid white;
			border-radius: 5px;
		}
	}
}


@media (max-width: 1023px) {
	.Header {
		overflow-x: auto;
		overflow-y: hidden;
		padding: 0px 50px;

		&::-webkit-scrollbar {
			display: none;
		}

		.Header-Items {
			margin-left: 20px;
		}
	}
}