.icon-menu-item {
	text-align: left;

	&:hover {
		background-color: #f1f7ff;
	}
}

.icon-menu-item-btn {
	padding: 15px 25px;
	border: none;
	background: transparent;
	outline: none;
	width: 100%;
	text-align: left;
	border-bottom: 1px solid #ebeff2;
	cursor: pointer;

	a {
		color: #29354c;
	}

	&:disabled {
		color: #b8c3d9;
		background-color: white;
	}

	&.red-text {
		color: red;
	}
}

.icon-menu-item-btn-plain:not([disabled]) {
	&:hover {
		cursor: pointer;
	}
}
