.perf-row {
	display: flex;
	align-items: center;
	padding: 0 16px;
	height: initial;

	.row-title {
		margin: 0;
		font-size: 16px;
		line-height: 23px;
		flex: 0 0 98px;
		text-align: center;
	}

	&.incomming {
		color: #b8c3d9;
	}

	.row-content {
		display: flex;
		align-items: center;
		padding: 24px 0;
		margin-left: 16px;
		border-bottom: 1px solid #d4e1ee;
		flex: 1;

		&.noTitle {
			margin-left: 0px;
			height: 100px;
		}

		.row-block-var {
			display: flex;
			width: 384px;

			.row-block-item {
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				flex-basis: 128px;
				border-right: 1px solid #d4e1ee;

				.block-text {
					font-size: 20px;
					line-height: 23px;
					font-weight: 500;

					&.Poor {
						color: #fc4f52;
					}

					&.EXC {
						color: #2db35c;
					}
				}
				.block-subtext {
					font-size: 14px;
					line-height: 20px;
					color: #6f8190;
					margin-top: 8px;
					text-align: center;
				}

				&:first-child {
					padding-left: 0;
				}
			}
		}
	}
}

.stu-average-block {
	flex: 4;
	padding-left: 24px;

	.bar-text-cont {
		display: flex;
		align-items: center;

		.bar-subtitle {
			margin: 0;
			margin-right: 12px;
			width: 132px;
			color: #6f8190;
			white-space: nowrap;
		}

		&:first-child {
			margin-bottom: 8px;
		}
	}

	.stu-bar-cont {
		display: flex;
		height: 24px;
		flex: 1;
		background-color: #f2f2f2;
		border-radius: 12px;

		.stu-bar {
			height: 100%;
			background-color: #fcb243;
			box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.16);
			border-radius: 12px;
			padding: 0 12px;

			text-overflow: ellipsis;
			white-space: nowrap;
			overflow: visible;
		}
	}
	.average-bar-cont {
		display: flex;
		height: 24px;
		flex: 1;
		background-color: #f2f2f2;
		border-radius: 12px;
		margin-top: 8px;

		.average-bar {
			height: 100%;
			width: 100%;
			background-color: #2136ee;
			color: white;
			box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.16);
			border-radius: 12px;
			padding: 0 12px;

			text-overflow: ellipsis;
			white-space: nowrap;
			overflow: visible;
		}
	}

	.no-value-bar {
		box-shadow: none;
		color: #333;
		padding: 0 12px;

		&.incomming {
			color: #b8c3d9;
		}
	}
}

@media (max-width: 1000px) {
	.perf-row {
		flex-direction: column;

		.row-title {
			font-size: 20px;
			flex: initial;
		}

		.row-content {
			border-bottom: initial;
			margin-left: initial;
			width: 100%;
		}
	}
}

@media (max-width: 768px) {
	.perf-row {
		.row-content {
			border-bottom: initial;
			margin-left: initial;
			width: 100%;
			flex-direction: column;

			.row-block-var {
				width: 100%;
				justify-content: center;

				.row-block-item {
					flex-basis: 200px;
				}

				.row-block-item:last-child {
					border-right: initial;
				}
			}

			.row-block-var {
				width: 100%;
			}
		}
	}

	.stu-average-block {
		padding-left: initial;
		margin-top: 16px;
		width: 100%;
	}
}