.progress-block {
	display: flex;
	align-items: center;
	padding: 0 16px;
	height: initial;

	.progress-block-left {
		width: 25%;
		display: flex;
		align-items: center;

		.row-title {
			margin: 0;
			font-size: 16px;
			line-height: 23px;
			flex: 0 0 98px;
			text-align: center;
		}

		.progress-text {
			padding: 24px 0 24px 24px;
			margin-left: 16px;
			font-size: 16px;
			line-height: 23px;
			flex: 0 0 184px;
		}
	}

	.progress-cont-border {
		width: 65%;
		padding: 11px 0px;

		.progress-cont {
			display: flex;
			flex-direction: column;
			flex: 1;
			padding-left: 50px;
			border-left: 1px solid #d4e1ee;

			.bar-cont {
				height: 24px;
				margin-bottom: 4px;
				display: flex;
				align-items: center;

				.ProgressRow {
					width: 100%;
					border-radius: 3px;

					.ProgressRow-activeBar {
						position: relative;
						border-radius: 3px;
					}

					.ProgressRow-label {
						position: absolute;
						top: 50%;
						right: -12px;
						transform: translate(0, -50%);
						height: 24px;
						width: 70px;
						border-radius: 30px;
						color: #fff;
						text-align: center;
						line-height: 24px;
					}
				}
			}

			.period-time-cont {
				display: flex;
				width: 100%;
				justify-content: flex-end;
				font-size: 14px;
				color: #8390ab;
			}
		}
	}
}


@media (max-width: 1000px) {
	.progress-block {
		.progress-block-left {
			width: 180px;

			.progress-text {
				flex: initial;
				margin-left: 8px;
				padding: 24px 0px;
			}
		}
	}
}

@media (max-width: 768px) {
	.progress-block {
		flex-direction: column;

		.row-title {
			flex: initial;
		}

		.progress-cont-border {
			width: 90%;
			padding: 0px 0px 10px 0px;

			.progress-cont {
				padding-left: 0px;
				border-left: initial;

			}
		}
	}
}