body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
		'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	--cream_color: #fdf5e6;
	--lightYellow_color: #ffeaa7;
	--skyBlue_color: #17c0eb;
	--pink_color: #fd79a8;

	&::-webkit-scrollbar {
		width: 0; /* 設置滾動條寬度 */
	}
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
