.ChartPage {
	background-color: #f4f7f9;

	.ChartPage-Tabs {
		border-radius: 0;
		border: none;
		height: 64px;
		padding: 0 141px;
		box-shadow: 0px 4px 12px rgb(0 0 0 / 6%);

		.Tab {
			color: #29354c;
			font-size: 16px;
			padding: 20px 29px;
			margin-right: 0px;
			height: 100%;
		}
		.active::after {
			content: '';
			position: absolute;
			width: 100%;
			height: 4px;
			background: #fed602;
			bottom: 0;
			left: 0;
			border-radius: 2px 2px 0px 0px;
		}
	}

	.ChartPage-Content {
		margin: 0 141px;
		border: none;
		border-radius: 0;
		background-color: #f4f7f9;

		.ChartPage-Content-Title {
			font-weight: 500;
			font-size: 24px;
			line-height: 35px;
			color: #29354c;

			margin: 20px 0 16px 0;
			padding: 0px 16px;
		}

		.ChartPage-Content-Body {
			.block-header-text {
				font-family: Noto Sans TC;
				font-size: 16px;
				line-height: 23px;
			}

			.data-block {
				background-color: #fff;
				margin-bottom: 16px;
				border-radius: 8px;
				box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.06);
			}
		}
	}
}

@media (max-width: 1366px) {
	.ChartPage {
		.ChartPage-Content {
			margin: 0 100px;
	
			.ChartPage-Content-Title {
			}
	
			.ChartPage-Content-Body {
				.block-header-text {
				}
	
				.data-block {
				}
			}
		}
	}
}

@media (max-width: 1200px) {
	.ChartPage {
		.ChartPage-Content {
			margin: 0 60px;
		}
	}
}

@media (max-width: 1080px) {
	.ChartPage {
		.ChartPage-Content {
			margin: 0 20px;
		}
	}
}