.homePageFrame-header {
	display: flex;
	justify-content: space-between;

	.homePageFrame-header-logo {
		width: 45px;
	}

	.homePageFrame-header-block {
		display: flex;
		align-items: center;
		
		.homePageFrame-header-block-searchIcon {
			margin-right: 10px;
			cursor: pointer;
		}

		.homePageFrame-header-block-searchInput {
			padding: 5px 0px;

			width: 0px;
			visibility: hidden;

			&.open {
				visibility: visible;
				padding: 5px 10px;
				margin-right: 10px;
				width: 120px;
				transition: width .3s;
			}
		}

		.homePageFrame-header-block-linkItem {
			margin-right: 10px;

			a {
				color: black;
				text-decoration: none;

				&:hover {
					color: rgb(0, 0, 0, 0.8)
				}
			}
		}

		.homePageFrame-header-block-signInBtn {
			color: white;
			border: none;
			border-radius: 5px;
			outline: none;
			background-color: #3B7844;
			padding: 10px 25px;

			cursor: pointer;

			&:hover {
				background-color: rgb(59, 120, 68, 0.8)
			}
		}
	}
}
